.feed {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 1rem;
}

@media (max-width: 80rem) {
  .feed {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 40rem) {
  .feed {
    grid-template-columns: repeat(1, 1fr);
  }
}

.photo:nth-child(2) {
  grid-column: 2/4;
  grid-row: span 2;
}

@media (max-width: 80rem) {
  .photo:nth-child(2) {
    grid-column: initial;
    grid-row: initial;
  }
}

.photo a {
  border-radius: .2rem;
  cursor: pointer;
  display: grid;
  height: 100%;
  overflow: hidden;
  transition: 0.1s;
}

.photo a>img {
  aspect-ratio: 1/1;
  grid-area: 1/1;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}

.photo:hover a>img {
  transform: scale(1.2);
}

.photo .contador {
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  font-size: 1rem;
  grid-area: 1/1;
  justify-content: center;
  text-align: center;
}

.photo .contador:before {
  background: url('/assets/visualizacao.svg') no-repeat;
  content: '';
  display: inline-block;
  height: 10px;
  margin-right: .50rem;
  width: 16px;
}

.photo:hover .contador {
  display: flex;
  z-index: 5;
}

.end {
  color: #333;
  margin: 1.25rem auto;
  position: relative;
  text-align: center;
}

.end::before,
.end::after {
  background: #333;
  content: '';
  height: 1px;
  position: absolute;
  top: 50%;
  width: 27%;
}

.end::before {
  left: 0;
  transform: translateY(-50%);
}

.end::after {
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 40rem) {

  .end::before,
  .end::after {
    width: 0;
  }
}