* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #333;
  font-family: var(--type-first);
  margin: 0;
  padding-top: 5rem;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: var(--type-second-spectral), georgia;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li:not([data-sonner-toast]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button,
input {
  color: #333;
  display: block;
  font-family: var(--type-first);
  font-size: 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  padding: 0 1rem;
}

.mainContainer {
  margin-top: 2rem;
}

a {
  color: #333;
  text-decoration: none;
}

.animeLeft {
  animation: animeLeft 0.3s forwards;
  opacity: 0;
  transform: translateX(-20px);
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.title {
  font-family: var(--type-second);
  font-size: 3rem;
  line-height: 1;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  background: #fb1;
  border-radius: 0.2rem;
  bottom: 5px;
  content: '';
  display: block;
  height: 1.5rem;
  left: -5px;
  position: absolute;
  width: 1.5rem;
  z-index: -1;
}

.text {
  color: #333;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.link {
  color: #666;
  display: inline-block;
  line-height: 1;
  padding: 0.5rem 0;
}

.link::after {
  background: currentColor;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
}

.back {
  background: #ddd;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  cursor: pointer;
  display: block;
  font-family: var(--type-first);
  font-size: 0.875rem;
  line-height: 1;
  margin-top: 3rem;
  max-width: fit-content;
  padding: 0.3rem 0.5rem;
  text-align: center;
  transition: 0.1s;
}

.back:focus,
.back:hover {
  background: #fff;
  border-color: #333;
  box-shadow: 0 0 0 3px #eee;
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.AppBody {
  background: linear-gradient(180deg, #fbf9f4, #faf6ee, #f9f3e8, #fb1);
  flex: 1;
}

.VictoryContainer {
  height: inherit !important;
}

.button {
  background: #fb1;
  border-radius: .4rem;
  border: none;
  box-sizing: border-box;
  color: #764701;
  cursor: pointer;
  font-family: var(--type-first);
  font-size: 1rem;
  min-width: 8rem;
  padding: .8rem 1.2rem;
  transform: .2s;
}

.button:hover,
.button:focus {
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
  outline: none;
}

.button:disabled {
  cursor: wait;
  opacity: .5;
}