.graph {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.graphItem {
  align-items: center;
  background-color: #fff;
  border-radius: .2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
  display: flex;
}

.total {
  font-size: 2rem;
  grid-column: 1/3;
  padding: 2rem;
}

@media (max-width: 40rem) {
  .graph {
    grid-template-columns: 1fr;
  }

  .total {
    grid-column: 1;
  }
}