.form {
  margin-bottom: 2rem;
}

.cadastro {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.cadastro p {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.subtitle {
  font-family: var(--type-second);
  font-size: 2rem;
  line-height: 1;
}

.subtitle::after {
  background: #ddd;
  border-radius: .2rem;
  content: "";
  display: block;
  height: .5rem;
  width: 3rem;
}